Source: ros-indigo-scitos-description
Section: misc
Priority: extra
Maintainer: Lars Kunze <l.kunze@cs.bham.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin
Homepage: http://github.com/strands-project/scitos_common
Standards-Version: 3.9.2

Package: ros-indigo-scitos-description
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-joint-state-publisher, ros-indigo-robot-pose-publisher, ros-indigo-robot-state-publisher
Description: The scitos_description package contains the description (mechanical, kinematic, visual, etc.) of the SCITOS robot.
